@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:wght@100&display=swap');

*{
    box-sizing: border-box;
}

body {
background-color: #242333;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100vh;
font-family: 'Azeret Mono', sans-serif;
margin: 0;
}

.movie-container{
    margin: 20px 0;
}

